@import url('https://fonts.googleapis.com/css2?family=Outfit');
@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
}

/* menu in navbar */
.active{
    border-bottom: 3px solid rgb(29, 78, 216);
    font-weight: bold;
    color: rgb(29, 78, 216);
}


/* Responsiveness for navbar */
@media (max-width:768px) {
    .navbar{
        background-color: rgb(35, 35, 66);
        width: 200px;
        height: auto;
        position: fixed;
        flex-direction: column;
        top: 0;
        right: -200px;
        z-index: 1;
        padding: 20px;
        transition: right 0.3s ease-in-out;
    }
    .navbar ul{
        flex-direction: column;
        align-items: start;
    }
    .navbar li{
        color: white;
        padding:6px 0 ;
    }
    .navbar button{
        margin-top: 16px;
    }
    .nav-cross{
        display: inline;
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    .nav-menu{
        display: inline;
        cursor: pointer;
    }
}

/* Responsiveness for navbar */